.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tablaFireBase{
  overflow: auto;
  height:85vh;
}

.mainWindow{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 50px;
  background-color: #F5F5F5;
}

.navBar{
  width: 100%;
  height: 40px;
  background-color: black;
  text-align: center;
  color: white;
  font-style: Roboto;
  font-weight: bold;
  font-size: 24px;
}
